.navbar.user-info-navbar {
    display: flex; /* 使用Flexbox布局 */
    justify-content: center; /* 水平居中 */

.suiShiDaoHang {
    display: flex; /* 使用Flexbox布局 */
    justify-content: center; /* 水平居中 */
}

/* 搜索框样式 */
.suiShiDaoHang .content {
    padding: 10px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 5px;
    box-shadow: none;
    margin-bottom: 10px; /* 添加底部外边距，以便与按钮分隔 */
}

/* 按钮样式 */
.suiShiDaoHang .button {
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    /* 添加以下样式以确保按钮在较小屏幕上也能保持响应式 */
    min-width: 15px; /* 设置按钮的最小宽度 */
}
